.container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 25px;
  padding-left: 20px;
  width: 18em;

  border: 1px solid black;
}

.title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.new_input {
  width: 250px;
}

.button {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 14px;
  width: 100px;
  border-radius: 15px;
  border: none;
  padding: 5px 10px;
  transition: all 250ms linear;
}

.button:hover {
  background-color: blue;
  color: aliceblue;
}
